.header {
    background: var(--fondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.15);
}
.desktop {
    display: none;
}
@media (min-width: 1280px) {
    .header {
        background: red;
    }
    .desktop {
        display: block;
    }
}
.logo {
    width: 48px;
    height: 48px;
    display: flex;
    gap: 6px;
}
.logo-h {
    width: 100%;
    height: 4px;
    background: var(--black);
    border-radius: 2px;
    margin-top: 12px;
}
.logo-v {
    width:  10px;
    height: 100%;
    background: var(--black);
    border-radius: 2px;
}
.buttons-container {
    display: flex;
    gap: 15px;
}
.cart, .person {
    background: none;
    border: none;
}
.hamburguer {
    width: 48px;
    height: 48px;
    background-color: var(--fondo);
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,.15), -5px -5px 10px rgba(255,255,255,1);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.bar {
    background: var(--black);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}
.menu {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--fondo); 
    display: flex;
    flex-direction: column;
    transition: left 0.5s ease;
}
.menu-header {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    border-bottom: 1px rgb(219, 219, 219) solid;
}
.cruz {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    color: black;
    border: none;
    padding: 0;
    align-self: end;
}
.clothes-list, .list, .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px rgb(219, 219, 219) solid;
}
.list {
    border-bottom: none;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 1px rgb(219, 219, 219) solid;
    border-bottom: none;
}
.off {
    display: none;
}
.link {
    text-decoration: none;
}
