.item, .form, .input-container, .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 95%;
}
.item {
    margin: -40px 0;
}
.input-container {
    gap: 5px;
    width: 100%;
}
.form {
    width: 100%;
    gap: 20px;
    align-items: center;
}