.delivery-card, .pickup-card {
    /* position: relative; */
    background: var(--fondo);
    width: 100%;
    border-radius: 10px;
    display: flex;
    padding: 15px;
    gap: 15px;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.9), 5px 5px 10px 0px rgba(44, 45, 46, 0.15);
}
.radio {
    width: 15px;
    margin-top: 8px;
    align-self: flex-start;
    cursor: pointer;
}
.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.title {
    display: flex;
    justify-content: space-between;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(44, 45, 46, 0.15);
}
.button {
    width: 100%;
    color: #1e47a7;
    background: none;
    border: none;
    font-weight: 600;
    text-align: start;
    cursor: pointer;
}
.form, .input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form {
    gap: 10px;
}
.input {
    border-radius: 10px;
    border: solid 1px rgba(44, 45, 46, .15);
    font-size: 14px;
    padding: 5px;
}
.buttons-container {
    display: flex;
    gap: 10px;
}
.submit {
    background-color: rgb(112, 190, 227);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.cancel {
    background-color: rgb(221, 221, 221);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: rgb(85, 85, 85);
}