.card {
    background: var(--fondo);
    display: flex;
    width: 100%;
    border-radius: 10px;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.9), 5px 5px 10px 0px rgba(44, 45, 46, 0.15);
}
.img-container {
    min-width: 180px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    /* background: greenyellow; */
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0px 0 5px 5px;
    padding: 15px;
    font-size: 24px;
}
.product__name {
    margin: 0;
    color: var(--black);
}
.product__price {
    margin: 0;
    color: var(--black);
}
.rate {
    display: flex;
    gap: 5px;
    align-items: center;
}
.stars {
    display: flex;
    gap: 5px;
    flex-direction: row;
}
.buttons-container {
    display: flex;
    align-self: flex-end;
}