.card {
    background: var(--fondo);
    /* background: rgb(213, 165, 165); */
    display: flex;
    width: 100%;
    border-radius: 10px;
    height: 144px;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.9), 5px 5px 10px 0px rgba(44, 45, 46, 0.15);
}
.img-container {
    min-width: 144px;
    min-height: 144px;
    max-width: 144px;
    max-height: 144px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}
.img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px 0px 5px 0px;
}
.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0px 0 5px 5px;
    padding: 15px;
    font-size: 24px;
} 
 .product__name {
    margin: 0;
    color: var(--black);
}
.product__price {
    margin: 0;
    color: var(--black);
}
.rate {
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: center;
}
.stars {
    display: flex;
    gap: 2px;
    flex-direction: row;
}
.buttons-container {
    display: flex;
    align-self: flex-end;
}