.search, .form, .input-container, .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 95%;
}
.cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-container {
    gap: 5px;
    width: 100%;
}
.form {
    width: 100%;
    gap: 20px;
    align-items: center;
}
.link {
    text-decoration: none;
    color: black;
}