.ui-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 50px 20px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.nuevo, .disabled {
    padding: 10px 0;
    width: 100%;
    border: none;
    font-weight: 400;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: -5px -5px 10px 0px rgba(255,255,255,1), 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.1s;
    cursor: pointer;
    color: var(--black);
    outline: none;
    font-weight: normal;
    box-shadow: 0 0 0 0 rgba(44, 45, 46, 0.5) inset, 0 0 0 0 rgba(255, 255, 255, .9) inset, -1px -1px 3px 1px rgba(255, 255, 255, .9), 2px 2px 7px 0px rgba(44, 45, 46, 0.5);
}
.nuevo {
    background: var(--grey-flat);
}
.negro {
    background: var(--black);
    color: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .2) inset, 0 0 0 0 rgba(0,0,0,1) inset, -5px -5px 10px 0px rgba(255,255,255,1), 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.nuevo:active {
    box-shadow: 2px 2px 7px 0px rgba(44, 45, 46, 0.5) inset, -1px -1px 3px 1px rgba(255, 255, 255, .9) inset;
    transform: scale(0.99);
}
.negro:active {
    box-shadow: -2px -2px 10px 0px rgba(255, 255, 255, .2) inset, 3px 3px 10px 0px rgba(0,0,0,1) inset;
    transform: scale(0.99);
}
.disabled {
    filter: opacity(.75);
    cursor: not-allowed;
}
