.home-page, .welcome, .destacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
    /* padding: 20px; */
}
.home-page {
    padding: 50px 0;
    gap: 50px;
}
.destacados {
    width: 100%;
    padding: 0 5px;
    text-align: center;
}
.cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.link {
    text-decoration: none;
    color: black;
}
