.wrapper {
    background: var(--fondo);
    position: relative;
    max-width: 300px;
    border-radius: 13px;
    overflow: hidden;
    /* padding: 35px;  */
    padding: 10px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 1), 5px 5px 10px rgba(0, 0, 0, .15);
}
.wrapper .icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}
.icon:first-child {
    left: 0;
    background: linear-gradient(90deg, #fff 70%, transparent);
}
.icon:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #fff 70%, transparent);
}
.i-left {
    margin-left: 15px;
    border-radius: 50%;
}
.i-right {
    margin-right: 15px;
    border-radius: 50%;
}
.i-left:hover {
    background: #f5f4fd;
    cursor: pointer;
}
.i-right:hover {
    background: #f5f4fd;
    cursor: pointer;
}
.wrapper .tabs-box {
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
}
.tabs-box .tab {
    /* font-size: 1.18rem; */
    font-size: 14px;
    white-space: nowrap;
    font-weight: 700;
    /* background: #f5f4fd; */
    /* padding: 13px 20px;
    border-radius: 30px;
    border: 1px solid #d8d5f2; */
    cursor: pointer;
}